* {
  box-sizing: border-box;
  }

  body{
    margin:0;
    background-image: url(img/uwNoiseTexture.png);
    background-color:#e2ffe2;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:monospace;
    font-weight:400;
  }

  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  .navbar-menu{
    padding:10px 0;
    display:block;
    float:right;
    margin:0;
  }
  .navbar-menu-link{
    margin:0;
    color:inherit;
    text-decoration:none;
    display:inline-block;
    padding:10px 15px;
  }
  .tooltip-component__body, [data-tooltip]::after{
    font-family:Helvetica, sans-serif;
    background:rgba(55, 61, 73, 0.95);
    border-radius:3px;
    bottom:100%;
    color:#fff;
    content:attr(data-tooltip);
    display:block;
    font-size:12px;
    left:50%;
    line-height:normal;
    max-width:32rem;
    opacity:0;
    overflow:hidden;
    padding:8px 16px;
    pointer-events:none;
    position:absolute;
    text-overflow:ellipsis;
    transform:translate(-50%, 0);
    transition:opacity 0.25s, transform 0.25s;
    white-space:nowrap;
    box-sizing:border-box;
    z-index:10;
  }
  [data-tooltip-visible=true]::after, [data-tooltip]:focus::after, [data-tooltip]:hover::after{
    opacity:1;
    transform:translate(-50%, -0.5rem);
  }
  [data-tooltip-pos=right]::after{
    bottom:50%;
    left:100%;
    transform:translate(0, 50%);
  }
  [data-tooltip-pos=right]:focus::after, [data-tooltip-pos=right]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=right]::after{
    transform:translate(0.5rem, 50%);
  }
  [data-tooltip-pos=bottom]::after{
    bottom:auto;
    top:100%;
    transform:translate(-50%, 0);
  }
  [data-tooltip-pos=bottom]:focus::after, [data-tooltip-pos=bottom]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=bottom]::after{
    transform:translate(-50%, 0.5rem);
  }
  [data-tooltip-pos=left]::after{
    bottom:50%;
    left:auto;
    right:100%;
    transform:translate(0, 50%);
  }
  [data-tooltip-pos=left]:focus::after, [data-tooltip-pos=left]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=left]::after{
    transform:translate(-0.5rem, 50%);
  }
  [data-tooltip-length=small]::after{
    white-space:normal;
    width:80px;
  }
  [data-tooltip-length=medium]::after{
    white-space:normal;
    width:150px;
  }
  [data-tooltip-length=large]::after{
    white-space:normal;
    width:300px;
  }
  [data-tooltip-length=fit]::after{
    white-space:normal;
    width:100%;
  }
  // IE 11 bugfix
  button[data-tooltip]{
    overflow:visible;
  }
  .important{
    z-index:1 !important;
  }
  html, body{
    height:100%;
  }
  body > footer{
    position:sticky;
    top:100vh;
  }
  .zindex2{
    z-index:2;
  }
  #i6fny:hover::before{
    opacity:1;
  }
  #ibxg3:hover::before{
    opacity:1;
  }
  #iznti:hover::before{
    opacity:1;
  }
  // IE 11 bugfix
  button[data-tooltip]{
    overflow:visible;
  }
  #headerLeft{
    flex-basis:1%;
    border:1px none #000000;
    margin:0 0 0 0;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    padding:0 0 0 10px;
    min-height:0;
    display:flex;
  }
  #iv4sl{
    float:none;
    align-self:stretch;
    flex-direction:row;
    text-align:center;
    padding:0 0 0 0;
    max-width:500px;
    justify-content:space-between;
    align-items:center;
    flex:1 0 auto;
    margin:0 0 12px 0;
    display:flex;
  }
  #i6fny{
    box-shadow:0 -6px 150px 60px #44ffb2;
    transition:all 0.3s ease-in-out;
    justify-content:center;
    align-self:center;
    padding:0 0 0 0;
    background:#99FFCC;
    display:flex;
    line-height:-10px;
    height:0;
    text-decoration:none;
  }
  #ibxg3{
    box-shadow:0 -6px 150px 60px #44ffb2;
    opacity:1;
    transition:all 0.3s ease-in-out;
    display:flex;
    background:#99FFCC;
    justify-content:center;
    align-self:center;
    padding:0 0 0 0;
    line-height:-10px;
    margin:0 0 0 0;
    height:0;
    text-decoration:none;
  }
  #iznti{
    box-shadow:0 -6px 150px 60px #44ffb2;
    padding:0 0 0 0;
    transition:all 0.3s ease-in-out;
    display:flex;
    background:#99FFCC;
    justify-content:center;
    align-self:center;
    line-height:-10px;
    margin:0 0 0 0;
    height:0;
    text-decoration:none;
  }
  #i6fny::before{
    position:relative;
    content:'';
    width:100%;
    height:100%;
    z-index:-2;
    opacity:0;
    box-shadow:0 0 700px 300px rgb(201, 108, 255);
    transition-delay:1s;
    transition:opacity 3s ease-in-out;
  }
  #ibxg3::before{
    position:relative;
    content:'';
    width:100%;
    height:100%;
    z-index:-2;
    opacity:0;
    box-shadow:0 0 800px 400px rgb(201, 108, 255);
    transition-delay:1s;
    transition:opacity 3s ease-in-out;
  }
  #iznti::before{
    position:relative;
    content:'';
    width:100%;
    height:100%;
    z-index:-2;
    opacity:0;
    box-shadow:0 0 700px 300px rgb(201, 108, 255);
    transition-delay:1s;
    transition:opacity 3s ease-in-out;
  }
  #i6fny:hover{
    transition:all 0.25s ease-in-out;
    opacity:1;
    background:#25ffa2;
    text-decoration:line-through;
    text-shadow:0 0 2px black, 0 0 6px black, 0 0 3px black;
    box-shadow:-10vw 0 300px 200px #00ff96;
    display:flex;
    align-self:center;
    color:white;
  }
  #ibxg3:hover{
    transition:all 0.25s ease-in-out;
    background:#25ffa2;
    opacity:1;
    text-decoration:line-through;
    text-shadow:0 0 2px black, 0 0 6px black, 0 0 3px black;
    box-shadow:0 0 300px 200px #00ff96;
    color:white;
  }
  #iznti:hover{
    transition:all 0.25s ease-in-out;
    animation-timing-function:ease-in-out;
    opacity:1;
    background:#25ffa2;
    text-decoration:line-through;
    text-shadow:0 0 2px black, 0 0 6px black, 0 0 3px black;
    box-shadow:10vw 0 300px 200px #00ff96;
    display:block;
    animation-delay:1s;
    color:white;
  }
  #i6fny:active{
    text-shadow:0 0 5px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow:-10vw 0 400px 300px #00ffec;
    transition:all 0.1s ease-in-out;
    color:#FFFFFF;
    background:#00e8ff;
    line-height:-10px;
  }
  #ibxg3:active{
    text-shadow:0 0 5px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow:0 0 400px 300px #14ff00;
    transition:all 0.1s ease-in-out;
    color:#FFFFFF;
    background:#3fff00;
  }
  #iznti:active{
    text-shadow:0 0 5px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    box-shadow:0 0 400px 300px #ffea00;
    transition:all 0.1s ease-in-out;
    color:#FFFFFF;
    background:#ffea00;
  }
  #headerContainer{
    position:static;
    padding:10px 10px 30px 10px;
    justify-content:space-around;
    align-self:stretch;
    align-items:stretch;
    transition:all 0 ease-in-out;
  }
  #footerLeftText-2 {
      z-index: 69;
  }
  #itpfg{
    margin:0 1% 0 1%;
    max-width:30vw;
    justify-content:center;
    align-self:center;
    display:flex;
    min-height:0;
  }
  #footer{
    align-items:stretch;
    flex-direction:row;
    align-self:stretch;
    justify-content:space-between;
    padding:0 10px 0 10px;
    display:flex;
    min-height:0;
  }
  #iz59q{
    padding:0 0 0 0;
    justify-content:center;
    text-align:left;
    align-self:center;
  }
  #footerRightText{
    padding:0 6px 3px 0;
    text-align:right;
    font-size:xx-small;
    z-index: 420;
    align-self:flex-end;
  }
  #icyl8:active{
    color:black;
  }
  #footerLeftText{
    padding:0 0 0 0;
    max-width:300px;
    display:flex;
    justify-content:center;
    align-self:center;
    font-size:x-small;
    text-align:left;
    align-items:center;
    position:relative;
    flex-direction:row;
    float:none;
  }
  #footerRight{
    flex-basis:100px;
    display:flex;
    justify-content:space-around;
    align-self:center;
    margin:0 0 0 0;
    padding:0 0 0 0;
    width:auto;
    min-height:0;
    align-items:stretch;
    z-index: 69;
    max-width:24px;
  }
  #footerContainer{
    float:none;
    justify-content:flex-end;
    align-items:stretch;
    max-width:50%;
    width:100%;
    min-height:0;
  }
  #icyl8{
    max-width:50px;
    justify-content:center;
    align-self:flex-end;
    display:flex;
    align-items:flex-end;
  }
  #footerLeft{
    justify-content:flex-start;
    align-self:flex-end;
    flex-direction:row;
    align-items:center;
    text-align:left;
    display:flex;
    padding:10px 10px 10px 10px;
    max-width:50%;
    min-height:0;
  }
  #iqdcf{
    justify-content:space-around;
    align-self:flex-end;
    flex-direction:column;
    align-items:center;
    max-width:0;
    display:none;
  }
  #footerLeft:hover{
    border:0 solid black;
  }
  #iof4g{
    padding:0 0 0 0;
  }
  #iz59q:hover{
    text-decoration:underline;
  }
  #iuius:hover{
    text-decoration:underline;
  }
  #ipzpy:hover{
    text-decoration:underline;
  }
  #idbuu:hover{
    text-decoration:underline;
  }
  #in3w7:hover{
    text-decoration:underline;
  }
  #ieh8i{
    padding:0 10px 0 10px;
    flex-direction:column;
    justify-content:center;
    align-self:center;
    display:none;
  }
  #i5ni4{
    color:black;
    z-index:2;
    max-width:500px;
    flex-direction:row;
    align-items:stretch;
    align-self:center;
    display:flex;
  }
  #header{
    justify-content:space-around;
    max-width:100%;
    border:1px solid black;
    width:100%;
    height:36px;
  }
  #headerRight{
    flex-basis:1%;
    border:1px none #000000;
    margin:0 0 0 0;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    padding:0 10px 0 0;
    min-height:0;
    display:flex;
  }
  #logo{
    max-width:200px;
  }
  #bodyContainer{
    align-items:center;
    justify-content:center;
    align-self:center;
  }
  #contentContainer{
    width:100%;
    max-width:42vw;
    padding:10px 0 10px 0;
    flex-direction:column;
  }
  #wormsmixxx{
    padding:10px 0 10px 0;
    transition:box-shadow 2s ease-in-out;
    flex-direction:row;
    margin:0 0 48px 0;
  }
  #iofqd::after{
    color:black;
    box-shadow:0 0 100px 25px red;
  }
  #ig94h{
    text-align:center;
    justify-content:center;
    display:flex;
    position:static;
    float:none;
    padding:0 0 8px 0;
    letter-spacing:10px;
  }
  #iofqd:hover{
    opacity:1;
    display:flex;
  }
  #specialTitleContainer{
    min-height:0;
  }
  #i60rr{
    text-align:center;
    justify-content:center;
    display:flex;
    position:relative;
    padding:0 0 0 0;
    margin:16px 0 10px 0;
    box-shadow:0 0 24px 12px #fff500 , 0 0 12px 6px red , 0 -8px 36px 16px #ff8000 ;
  }
  #iuqw5{
    display:block;
  }
  #ihtyc{
    padding:0 0 0 0;
  }
  #i21oq{
    padding:5px 5px 5px 5px;
    margin:24px 0 0 0;
    justify-content:center;
    max-width:100%;
    display:flex;
    flex-direction:row;
    border-radius:6px 6px 6px 6px;
    border:1px dashed black;
    text-align:center;
    transition:all 0.1s ease-out;
  }
  #i21oq:hover{
    box-shadow:0 0 20px 20px black inset;
    text-shadow:0 0 6px white, 0 0 3px white, 0 0 2px white, 0 0 1px white;
    color:white;
  }
  #i2gvy{
    min-height:0;
    justify-content:center;
    align-self:center;
    flex-direction:column;
    display:flex;
  }
  #it3sb{
    justify-content:flex-start;
    padding:0 0 0 0;
  }
  #iq0az{
    padding:10px 10px 10px 10px;
    border:1px dotted black;
    flex-direction:column;
    display:flex;
    min-height:0;
    margin:0 8px 0 0;
  }
  #i6wnc{
    padding:10px;
    line-height:18px;
  }
  #iprt4{
    display:flex;
    flex-direction:column;
    position:relative;
    margin:0 0 0 8px;
    align-self:stretch;
    border:1px dotted #8f8f8f;
    min-height:0;
    border-radius:6px 6px 6px 6px;
  }
  #iv01g{
    padding:0 0 0 0;
    z-index: 69;
  }
  #i60rr:hover{
    display:flex;
    position:static;
  }
  #iofqd{
    display:flex !important;
    position:relative;
    z-index: 420;
  }
  #i4ubh{
    font-size:10px;
    color:#cccccc;
    line-break:anywhere;
    word-break:normal;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-family:Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight:100;
  }
  #ioj9n{
    color:#cccccc;
    text-decoration:none;
  }
  #idbdb{
    color:#cccccc;
    text-decoration:none;
  }
  #i122k{
    height:0;
    margin:-8px 0 0 0;
    min-height:0;
    text-shadow:0 0 1px white, 0 0 1px white, 0 0 6px black, 0 0 2px black, 0 0 3px white;
    color:white;
    letter-spacing:1px;
  }
  #wormGlow2{
    display:flex !important;
    float:right;
    height:0;
    width:0;
    align-self:flex-end;
    margin:0 -10px 0 0;
    position:static;
    animation: logoGlow2 72s infinite;
    animation-delay: 30s;
  }
  #wormGlow1{
    width:0;
    height:0;
    display:flex !important;
    align-items:flex-start;
    align-self:flex-start;
    min-height:0;
    max-width:0;
    animation: logoGlow 72s infinite;
    animation-delay: 30s;
  }

  @media fadeEffect{
    from{
      opacity:0;
    }
    to{
      opacity:1;
    }
  }
  @keyframes logoGlow{
    10%{
      box-shadow:0 0 100vw 500px #00ff9565;
    }
    35%{
      box-shadow:0 0  160vw 700px rgba(255, 153, 37, 0.445);
    }
    42%{
      box-shadow:0 0  100vw 300px rgba(255, 153, 37, 0.445);
    }
    45%{
      box-shadow:0 0 1000vw 600px rgba(229, 255, 0, 0.418);
    }
    48%{
      box-shadow:0 0 1000vw 900px rgba(229, 255, 0, 0.418);
    }
    55%{
      box-shadow:0 0  2000vw 600px rgba(247, 0, 255, 0.384);
    }
    65%{
      box-shadow:0 0 24vw 100px rgba(73, 91, 255, 0.5);
    }
    69%{
      box-shadow:0 0 5vw 200px rgba(73, 255, 200, 0);
    }
  }
  @media only screen 
    and (min-device-width : 1024px){
      .mobileHide{
        display:inherit !important;
      }
      .mobileShow{
        display:none !important;
      }
  }
  @media only screen 
    and (min-device-width : 1024px){
      .mobileHide{
        display:inherit !important;
      }
      .mobileShow{
        display:none !important;
      }
  }
  @media (max-width: 992px){
    .mobileHide{
      display:none !important;
    }
    .mobileShow{
      display:inherit !important;
    }
    #logo{
      max-width:150px;
    }
    #contentContainer{
      max-width:100%;
    }
    #i60rr{
      transition:all 0.25s ease-in-out;
      margin:16px 69px 10px 69px;
    }
    #i60rr:hover{
      transition:all 0.25s ease-in-out;
    }
    #iq0az{
      margin:0 8px 0 0;
    }
    #iprt4{
      margin:0 0 0 8px;
    }
    #iv01g{
      justify-content:space-between;
      margin:0 8px 0 0;
    }
    #wormsmixxx{
      transition:all 0.25s ease-in-out;
    }
    #iofqd{
      padding:0 8vw 0 8vw;
    }
    #footerLeft{
      padding:10px 0 10px 0;
      align-self:flex-end;
    }
    #footer{
      padding:0 10px 0 10px;
    }
    #footerLeftText{
      max-width:215px;
    }
    #i122k{
      text-shadow:0 0 1px white, 0 0 1px white, 0 0 6px black, 0 0 2px black, 0 0 3px white;
    }
  }
  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
    .navbar-menu{
      width:100%;
    }
    .navbar-menu-link{
      display:block;
    }
    .mobileHide{
      display:none !important;
    }
    .mobileShow{
      display:inherit !important;
    }
  }
  @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px){
      .mobileHide{
        display:inherit !important;
      }
      .mobileShow{
        display:none !important;
      }
  }
  @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px){
      .mobileHide{
        display: initial !important;
      }
      .mobileShow{
        display:none !important;
      }
      #headerLeft{
        margin:0 5% 0 0;
        flex-basis:20%;
        max-width:20%;
      }
      #iznti{
        box-shadow:0 -10px 80px 40px #44ffb2;
        background:#5dffba;
      }
      #ibxg3{
        box-shadow:0 -10px 80px 40px #44ffb2;
        background:#5dffba;
      }
      #i6fny{
        box-shadow:0 -10px 80px 40px #44ffb2;
        background:#5dffba;
      }
      #headerRight{
        margin:0 5% 0 0;
        flex-basis:20%;
        max-width:20%;
      }
  }
  @media (max-width: 480px){
    .mobileHide{
      display:none;
    }
    .mobileShow{
      display:inherit;
    }
    #iv4sl{
      position:static;
      max-width:100%;
      justify-content:space-between;
      margin:0 0 12px 0;
      align-items:flex-end;
      align-self:stretch;
      height:50px;
    }
    #headerLeft{
      margin:0 0 0 0;
      align-self:center;
      flex-direction:column;
      justify-content:center;
      padding:0 10px 0 0;
    }
    #i6fny{
      display:block;
      position:relative;
      box-shadow:0 0 0 0 rgba(255,255,255,0);
    }
    #headerContainer:hover{
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-self:center;
    }
    #headerContainer{
      flex-direction:column;
      position:static;
      padding:2px 2px 30px 2px;
    }
    #ibxg3{
      box-shadow:0 0 0 0 rgba(255,255,255,0);
    }
    #iznti{
      box-shadow:0 0 0 0 rgba(255,255,255,0);
    }
    #itpfg{
      justify-content:space-between;
      margin:0 1% 0 1%;
      max-width:100%;
      min-height:0;
      height:48px;
    }
    #iznti:hover{
      box-shadow:0 0 0 0 rgba(255,255,255,0);
      padding:0 5% 0 5%;
    }
    #ibxg3:hover{
      box-shadow:0 0 0 0 rgba(255,255,255,0);
    }
    #i6fny:hover{
      box-shadow:0 0 0 0 rgba(255,255,255,0);
    }
    #itpfg:hover{
      display:flex;
      justify-content:center;
      align-self:center;
    }
    #footerContainer{
      justify-content:flex-end;
      padding:0 0 0 0;
      flex-direction:row;
      align-self:center;
      max-width:auto;
    }
    #footerRight{
      flex-direction:row;
      justify-content:flex-end;
      align-items:stretch;
      min-height:0;
      margin:0 0 0 0;
      width:auto;
      max-width:36px;
      align-self:center;
    }
    #headerRight{
      margin:0 0 -10% 0;
      align-self:center;
    }
    #header{
      padding:5px 10px 5px 10px;
      width:100%;
      height:75px;
    }
    #logo{
      max-width:150px;
      align-self:stretch;
    }
    #icyl8{
      max-width:32px;
    }
    #footerRightText{
      font-size:xx-small;
      padding:0 4px 0 0;
      align-self:center;
      justify-content:flex-end;
    }
    #footerLeft{
      min-height:0;
      margin:0 0 0 0;
      max-width:auto;
      padding:0 0 0 0;
      align-self:stretch;
    }
    #footerLeftText{
      max-width:96px;
      padding:0 2px 2px 2px;
      font-size:xx-small;
    }
    #footer{
      align-items:center;
      align-self:center;
      justify-content:space-between;
      padding:0 10px 0 10px;
    }
    #contentContainer{
      max-width:100%;
      justify-content:center;
      padding:0 0 0 0;
    }
    #iofqd{
      position:static;
      width:100vw;
      justify-content:center;
      align-self:center;
      display:flex;
      margin:0 0 8px 0;
      stroke:black;
      fill:red;
      padding:0 0 0 0;
    }
    #wormsmixxx{
      display:flex;
      flex-direction:column;
      padding:0 0 0 0;
    }
    #specialTitleContainer{
      justify-content:center;
      align-self:stretch;
      align-items:stretch;
      display:flex;
      opacity:1;
      position:static;
      margin:0 -10px 0 -10px;
      max-width:100vw;
    }
    #ig94h{
      position:static;
      float:none;
      font-size:small;
      letter-spacing:6px;
      padding:0 0 6px 0;
      font-weight:700;
      align-self:stretch;
      align-items:stretch;
      flex-direction:column;
    }
    #i21oq{
      display:block;
    }
    #i6wnc{
      display:block;
    }
    #iq0az{
      margin:0 0 0 0;
      justify-content:center;
      align-self:center;
    }
    #iprt4{
      margin:16px 0 0 0;
    }
    #iv01g{
      margin:0 0 0 0;
    }
    #i122k{
      font-weight:normal;
      margin:-14px 0 0 0;
    }
    #iele2{
      font-weight:normal;
    }
    #i60rr{
      margin:16px 16px 0 16px;
      box-shadow:0 0 24px 12px #fff500 , 0 0 12px 6px red , 0 -12px 30px 12px #ff8000 ;
    }
  }
  @media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 767px){
      .row{
        flex-wrap:wrap;
      }
      .navbar-menu{
        width:100%;
      }
      .navbar-menu-link{
        display:block;
      }
  }
  @keyframes logoGlow2{
    10%{
      box-shadow:0 0 150vw 600px #00ff9565;
    }
    35%{
      box-shadow:0 0 180vw 800px rgba(255, 240, 37, 0.521);
    }
    45%{
      box-shadow:0 0 129vw 300px rgba(140, 0, 255, 0.521);
    }
    50%{
      box-shadow:0 0  140vw 800px rgba(229, 255, 0, 0.541);
    }
    55%{
      box-shadow:0 0 2200vw 1000px rgba(203, 73, 255, 0.63);
    }
    80%{
      box-shadow:0 0 5vw 200px rgba(73, 255, 200, 0);
    }
  }
</style>
