body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: monospace;
    font-weight: 400;
    background-color: #e2ffe2;
    margin-left: 25%;
    margin-right: 25%;
    background-image: url("img/noise.png");
}

@media (min-width:320px)  { .uwLogo {align-items: flex-start; height: 80%;width: 80%; }} /* mobile */
@media (min-width:1025px) { .uwLogo {align-items: flex-start; height: 50%; width: 50%; }} /* desktop */

table{
    height:100%;
}
td.height{
    height:100%;
}

.underText {
    text-align: center;
}